<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <title>MakeItReal</title>
</head>
<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">
                    <h1 class="no-margin centrar-texto h1-header">
                        MakeItReal
                    </h1>
                </a>
            </div>
        </div>
    </header>

    <div class="nav-bg">
        <nav class="navegacion-principal">
            <a href="#">Arte</a>
            <a href="#">Deportes</a>
            <a href="#">Diseño y tecnología</a>
            <a href="#">Cine</a>
            <a href="#">Juegos</a>
            <a href="#">Música</a>
        </nav>
    </div>
    
    <section class="pagos-section">
        <div class="contenedor">
            <h2 class="no-margin centrar-texto">Consulta de Pagos</h2>
            <div class="busqueda-pagos">
                <label for="buscarPago" class="label-info">Proyecto:</label>
                <input type="text" id="buscarPago" placeholder="Ingrese ID de Proyecto">
                <button id="btnBuscarPago" class="btn-submit">Buscar</button>
            </div>
            <div class="resultado-pagos">
                <!-- Aquí se mostrarán los resultados de la búsqueda -->
            </div>
        </div>
    </section>


    <script src="../javascript/pagos.js" defer></script>
</body>
</html>
